/* App.css */

body {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4'%3E%3Cpath d='M1 3h1v1H1V3zm2-2h1v1H3V1z' fill='%23f1f1f1'/%3E%3C/svg%3E");
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

h1.text-center {
  font-size: 2.5rem;
}


.custom-card {
  background-color: white;
  color: #333;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.1);
  text-align: center;
  height: 100%;
}


.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
  color: #000000;
}

.card-description {
  font-weight: normal;
  color: #333;
}

.card-header {
  font-weight: bold !important;
  background-color: white !important;
  border-bottom: 0 !important; /* Remove the border at the bottom */
}

.btn-primary {
  margin-top: auto !important; /* Push the button to the bottom */
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  color: white;
}

@media only screen and (max-width: 768px) {
  .card-description,
  .btn-primary {
    display: none;
  }
}
